.hero-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.hero-image {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 20px;
}

.hero-image img.hero-img {
  opacity: 0.1;
  height: 600px;
}

p.hero-content-title-text {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
  font-size: 128px;
  font-weight: 700;
  margin: 0px;
}

p.hero-content-title-semi {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

p.hero-content-title-desc {
  text-align: center;
  font-size: 24px;
}

.hero-content-action {
  margin-bottom: 20px;
}

.hero-content-action .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content-action .buttons button {
  width: 100%;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  p.hero-content-title-text {
    font-size: 60px;
    margin-top: 40px;
  }
  ul.hero-content-header-menu li {
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .hero-image img.hero-img {
    width: 100%;
    height: auto;
  }
  .hero-content-action {
    padding: 0 10px;
  }
}

.m-6 {
  width: 600px;
}

.m-3 {
  width: 290px;
}

@media screen and (max-width: 600px) {
  .m-6 {
    width: 100%;
  }

  .m-3 {
    width: 48%;
  }
}

button.main-button {
  padding: 10px 50px;
  text-align: center;
  border-radius: 38px;
  font-size: 18pt;
  font-weight: 800;
}

button.main-button.btn-primary {
  background-color: #fe5f41;
  color: #fff;
  border: 2px solid #fe5f41;
  transition: 0.5s;
}

button.main-button.btn-primary:hover {
  color: #1e5558;
  background-color: #fff;
  background-image: radial-gradient(#fff 60%, #ddd 90%);
  border-color: #fe5f41;
  text-shadow: none;
  box-shadow: none;
}

button.main-button.btn-secondary {
  background-color: #fff;
  color: #1e5558;
  border: 2px solid #fe5f41;
  transition: 0.5s;
}

button.main-button.btn-secondary:hover {
  color: #fff;
  background: #fe5f41;
  text-shadow: none;
  box-shadow: none;
}

button.btn-disabled {
  background-color: #fe6141a9;
  text-align: center;
  border-color: #fe6141a9 !important;
  color: white;
}

.modal_notify {
  color: #fe5f41;
  font-size: 24px;
}
.o_wallet {
  color: #1e5558;
  font-size: 18px;
}

.modal_inputGroup {
  display: flex;
  margin-top: 10px;
}
.modal_form {
  text-align: center;
}

.modal_form label {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}
.modal_form input {
  width: 75%;
  border-radius: 5px;
  height: 20px;
}
.modal_form input.error {
  border: 1px solid red;
}
.modal_form button {
  width: 100%;
  font-size: 22px;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 10px;
  height: 40px;
  background-color: #fe5f41;
  color: #fff;
}
.modal_form button:hover,
.modal_form button:active {
  background-color: #fe6141b9;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #fe5f41 inset, 0px 0px 24px 0px #fe5f41, 0px 0px 8px 0px #FFFFFF42;
}

.button-wrapper {
  position: relative;
}

.button {
  z-index: 1;
  position: relative;
  text-decoration: none;
  text-align: center;
  appearance: none;
  display: inline-block;
}

.button::before {
  content: "";
  box-shadow: 0px 0px 24px 0px #fe5f41;
  mix-blend-mode: screen;
  transition: opacity 0.3s;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

.button::after {
  content: "";
  box-shadow: 0px 0px 23px 0px #fe5f41 inset, 0px 0px 8px 0px #FFFFFF42;
  transition: opacity 0.3s;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

.button-wrapper:hover {
  .button::before, .button::after {
    opacity: 1;
  }
  
  .dot {
    transform: translate(0, 0) rotate(var(--rotatation));
  }
  
  .dot::after {
    animation-play-state: running;
  }
}

.dot {
  display: block;
  position: absolute;
  transition: transform calc(var(--speed) / 12) ease;
  width: var(--size);
  height: var(--size);
  transform: translate(var(--starting-x), var(--starting-y)) rotate(var(--rotatation));
}

.dot::after {
  content: "";
  animation: hoverFirefly var(--speed) infinite, dimFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
  animation-play-state: paused; 
  display: block;
  border-radius: 100%;
  background: #fe5f41;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 0px #fe5f41, 0px 0px 4px 0px #fe5f41 inset, 0px 0px 2px 1px #FFFFFF42;
}

.dot-1 {
  --rotatation: 0deg;
  --speed: 14s;
  --size: 6px;
  --starting-x: 30px;
  --starting-y: 20px;
  top: 2px;
  left: -16px;
  opacity: 0.7;
}

.dot-2 {
  --rotatation: 122deg;
  --speed: 16s;
  --size: 3px;
  --starting-x: 40px;
  --starting-y: 10px;
  top: 1px;
  left: 0px;
  opacity: 0.7;
}

.dot-3 {
  --rotatation: 39deg;
  --speed: 20s;
  --size: 4px;
  --starting-x: -10px;
  --starting-y: 20px;
  top: -8px;
  right: 14px;
}

.dot-4 {
  --rotatation: 220deg;
  --speed: 18s;
  --size: 2px;
  --starting-x: -30px;
  --starting-y: -5px;
  bottom: 4px;
  right: -14px;
  opacity: 0.9;
}

.dot-5 {
  --rotatation: 190deg;
  --speed: 22s;
  --size: 5px;
  --starting-x: -40px;
  --starting-y: -20px;
  bottom: -6px;
  right: -3px;
}

.dot-6 {
  --rotatation: 20deg;
  --speed: 15s;
  --size: 4px;
  --starting-x: 12px;
  --starting-y: -18px;
  bottom: -12px;
  left: 30px;
  opacity: 0.7;
}

.dot-7 {
  --rotatation: 300deg;
  --speed: 19s;
  --size: 3px;
  --starting-x: 6px;
  --starting-y: -20px;
  bottom: -16px;
  left: 44px;
}

@keyframes dimFirefly {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverFirefly {
    0% {
      transform: translate(0, 0);
    }
    12% {
      transform: translate(3px, 1px);
    }
    24% {
      transform: translate(-2px, 3px);
    }
    37% {
      transform: translate(2px, -2px);
    }
    55% {
      transform: translate(-1px, 0);
    }
    74% {
      transform: translate(0, 2px);
    }
    88% {
      transform: translate(-3px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
}