.hero-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3872e0;
}

.hero-image {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 20px;
}

.hero-image img.hero-img {
  opacity: 0.1;
  height: 600px;
}

ul.hero-content-header-menu {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  padding-left: 0;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.036);
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 0px;
  z-index: 1;
}

ul.hero-content-header-menu li {
  display: block;
  float: left;
  font-size: 24px;
  font-weight: 600;
  margin-left: 2.5vw;
  margin-right: 1.5vw;
}

ul.hero-content-header-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p.hero-content-title-text {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
  font-size: 128px;
  font-weight: 700;
  margin: 0px;
  color: rgba(220, 219, 219);
}

p.hero-content-title-semi {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

p.hero-content-title-desc {
  text-align: center;
  font-size: 24px;
}

.social_media {
  height: 50px;
  margin-top: 20px;
}
.social_media svg,
.social_media img {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-content-action .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content-action .buttons button {
  width: 300px;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  p.hero-content-title-text {
    font-size: 88px;
  }
  ul.hero-content-header-menu li {
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .hero-image img.hero-img {
    width: 100%;
    height: auto;
  }
}
