.hero-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.hero-image {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 20px;
}

.hero-image img.hero-img {
  opacity: 0.1;
  height: 600px;
}

p.hero-content-title-text {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
  font-size: 128px;
  font-weight: 700;
  margin: 0px;
}

p.hero-content-title-semi {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

p.hero-content-title-desc {
  text-align: center;
  font-size: 24px;
}

.hero-content-action {
  margin-bottom: 20px;
}

.hero-content-action .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content-action .buttons button {
  width: 100%;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  p.hero-content-title-text {
    font-size: 60px;
    margin-top: 40px;
  }
  ul.hero-content-header-menu li {
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .hero-image img.hero-img {
    width: 100%;
    height: auto;
  }
  .hero-content-action {
    padding: 0 10px;
  }
}

.m-6 {
  width: 600px;
}

.m-3 {
  width: 290px;
}

@media screen and (max-width: 600px) {
  .m-6 {
    width: 100%;
  }

  .m-3 {
    width: 48%;
  }
}

button.main-button {
  padding: 10px 50px;
  text-align: center;
  border-radius: 38px;
  font-size: 18pt;
  font-weight: 800;
}

button.main-button.btn-primary {
  background-color: #fe5f41;
  color: #fff;
  border: 2px solid #fe5f41;
  transition: 0.5s;
}

button.main-button.btn-primary:hover {
  color: #1e5558;
  background-color: #fff;
  background-image: radial-gradient(#fff 60%, #ddd 90%);
  border-color: #fe5f41;
  text-shadow: none;
  box-shadow: none;
}

button.main-button.btn-secondary {
  background-color: #fff;
  color: #1e5558;
  border: 2px solid #fe5f41;
  transition: 0.5s;
}

button.main-button.btn-secondary:hover {
  color: #fff;
  background: #fe5f41;
  text-shadow: none;
  box-shadow: none;
}

button.btn-disabled {
  background-color: #fe6141a9;
  text-align: center;
  border-color: #fe6141a9 !important;
  color: white;
}

.modal_notify {
  color: #fe5f41;
  font-size: 24px;
}
.o_wallet {
  color: #1e5558;
  font-size: 18px;
}

.modal_inputGroup {
  display: flex;
  margin-top: 10px;
}
.modal_form {
  text-align: center;
}

.modal_form label {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}
.modal_form input {
  width: 75%;
  border-radius: 5px;
  height: 20px;
}
.modal_form input.error {
  border: 1px solid red;
}
.modal_form button {
  width: 100%;
  font-size: 22px;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 10px;
  height: 40px;
  background-color: #fe5f41;
  color: #fff;
}
.modal_form button:hover,
.modal_form button:active {
  background-color: #fe6141b9;
}
