.contact-component {
  background-color: #001c43;
}

.contact-pantmaster {
  background-color: #fff;
}

img.contact-pantmaster-img {
  width: 27vw;
  margin-top: 120px;
}

.contact-pantmaster-title {
  font-size: 30pt;
  font-weight: 800;
  color: #f35f41;
}

.contact-pantmaster-desc {
  font-size: 28pt;
  font-weight: 400;
  margin: 0px;
}

p.enterbeardverse {
  font-size: 43px;
  font-weight: 800;
  color: #70c5be;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .contact-component {
    display: block;
    height: 780px;
  }
}

@media screen and (max-width: 440px) {
  .contact-pantmaster-desc {
    font-size: 18pt;
  }
}

@media screen and (max-width: 380px) {
  img.contact-pantmaster-img {
    width: 200px;
  }
}
